.logo {
  color: var(--success);
  text-transform: none;
  font-size: 1.2rem;
  font-weight: 700;
  transition: opacity 0.2s ease;
}

.logo:focus {
  outline: none;
}
.logo:hover {
  opacity: 0.8;
  color: var(--success);
  text-decoration: none;
}

.navContainer:is(div) {
  width: 100%;
  margin: 0;
  justify-content: space-between;
}

.aithLinksWrapper {
  display: flex;
  width: max-content;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;
}

.link:is(a),
.itemLink:is(a) {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  height: 100%;
  text-decoration: none;
  transition: all 0.3s ease;
}

.link:is(a) {
  color: var(--light);
}

.itemLink:is(a) {
  color: var(--primary);
}

.link:hover {
  opacity: 0.8;
}

.itemLink:is(a):hover {
  background-color: rgba(161, 196, 118, 0.5);
}

.dropdown:is(div) {
  margin: 0;
}

.dropdown > a {
  color: var(--white);
  font-size: 1rem;
  padding: 0.5rem;
  transition: opacity 0.2s ease;
}

.dropdown > a:hover {
  color: var(--white);
  opacity: 0.5;
}
